$primary-color: rgb(255, 0, 0);
$word-color: rgb(0, 0, 0);
$background-image: 'https://img.freepik.com/free-photo/sky-full-white-clouds_23-2148204060.jpg?w=1380&t=st=1720274968~exp=1720275568~hmac=b22d83d68d6a094e1310b62a9c0e595f91bcbc73992a49fa97f51a50294101ec';