@import '../../../style/color.module.scss';

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    padding: 35px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 6px 6px 10px 0px #0000006b;}
.title{
    text-align: center;
    margin-bottom: 45px;
    color: $word-color;
}
.divInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.label{
    margin-bottom: 5px;
    font-size: 25px;
    padding-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
.input{
    width: 400px;
    font-size: 20px;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;

    &:focus{
        outline: none;
    }

    &::placeholder{
        color: rgb(148, 146, 146);
    }
}
.btn{
    background-color: white;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.5s;
    border: 2px solid transparent;
    font-weight: bold;

    &:hover{
        scale: 1.08;
        border: 2px solid black;
    }
}